<h2>Administraci贸n y configuraci贸n</h2>
<h2>Posts An贸nimos</h2>

<% for (var i in posts) { %>
	<article>
		<header>
			<h3>
				<a href='/posts/<%= posts[i].id %>' class='titlelink'>
				<%= posts[i].title %>
				</a>
			</h3>
			<em><%= posts[i].author && posts[i].author.name || 'An贸nimo' %></em>
		</header>
		<p><%= posts[i].body.slice(0, 500) %></p>
		<footer>
			<% if (session.user && session.user.login == 'root') { %>
				<form method='post' action='/posts/<%= posts[i].id %>'>
					<input type='hidden' name='_method' value='delete'>
					<a class="btn btn-warning btn-mini" href="/posts/<%= posts[i].id %>/edit">
						<i class="icon-edit icon-white"></i> Editar</a>
					<a class="btn btn-danger btn-mini" href="#" onclick="this.parentNode.submit()">
						<i class="icon-trash icon-white"></i> Borrar</a>
				</form>
			<% } %>
		</footer>
	</article>
<% }; %>
<hr />
<a class="btn btn-inverse" href="/admin"><i class="icon-arrow-left icon-white"></i> Volver</a>
