<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="utf-8">
   <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
   <title>SWCM JSD</title>
</head>

<body>
  <header>
    <script type="text/javascript">
$(function(){   
  $('#searchBut').on('click',function(){
        var busc = $('#search').val();
    var loc = window.location;
    alert(loc);
    if(loc=='http://localhost:5000/'){
        //window.open('http://localhost:5000/posts/search/'+busc);
        window.location.href="http://localhost:5000/posts/search/"+busc;
    }else{
        //window.open('http://floating-everglades-2068.herokuapp.com/posts/search/'+busc);
        window.location.href = "http://floating-everglades-2068.herokuapp.com/posts/search/"+busc;
      }
      return false;
    });

});
</script>

   <h1> Software de Comunicaciones</h1>
    <nav>
      <div id='logininfo'>
           <% if (session.user) { %>
               <%= session.user.name %>
               <a href='/logout'> Logout </a> 
           <% } else { %>
              <a href='/login?redir=/posts'> Login </a> 
              <a href='/users/new'> Register </a> 
           <% } %>
      </div>
      <div id="buscador">
      <form>
        <input type="text" id="search">
        <input id="searchBut" type="submit" value="Search" class="button">
      </form>
    </div>
      <a href="/">Home</a>
      <a href="/info">Info</a>
      <a href="/posts">Posts</a>
      <a href="/users">Usuarios</a>
    </nav>
  </header>

  <section>
        <% var flash = flash() %>
        <% if (flash.info) { %>
           <article id='flashinfo'>
             <h3>Información de interés:</h3>
             <ul>
                <% for (var i in flash.info) { %>
                  <li> <%= flash.info[i] %> </li>
                <% } %>
             </ul>
           </article>
        <% } %>

        <% if (flash.success) { %>
           <article id='flashsuccess'>
             <h3>Tareas completadas con éxito:</h3>
             <ul>
                <% for (var i in flash.success) { %>
                   <li> <%= flash.success[i] %> </li>
                <% } %>
             </ul>
           </article>
        <% } %>

        <% if (flash.error) { %>
           <article id='flasherror'>
             <h3>Errores encontrados:</h3>
             <ul>
                <% for (var i in flash.error) { %>
                  <li> <%= flash.error[i] %> </li>
                <% } %>
             </ul>
           </article>
        <% } %>
  </section>
       
  <section>
   <hr />
   <%- body %>
   <hr />
  </section>

  <footer>
    <p> Universidad Politécnica de Madrid. Curso 2012-2013. </p>
  </footer>
</body>
</html>
