<div class='<%- locals.validate_errors && validate_errors.title 
		? "invalid_field" : "field" %>'>
	Login: <%= user.login %>
	<br />
</div>

<div class='<%- locals.validate_errors && validate_errors.title 
		? "invalid_field" : "field" %>'>
	<label for="user_name">Nombre:</label>
	<br />
	<input type="text" id="user_name" name="user[name]"
		size="30" value="<%= user.name %>" />
</div>

<div class='<%- locals.validate_errors && validate_errors.title 
		? "invalid_field" : "field" %>'>
	<label for="user_email">E-mail:</label>
	<br />
	<input type="text" id="user_email" name="user[email]"
		size="30" value="<%= user.email %>" />
</div>

<!-- Contrase単a -->
<div class="field">
	<label for="user_password">Cambiar Contrase単a:</label>
	<br />
	<input type="password" id="user_password" name="user[password]" size="30" value="" />
<div>
<div class="field">
	<label for="user_confirm_password">Confirmar contrase単a:</label>
	<br />
	<input type="password" id="user_confirm_password" size="30" value="" />
<div>

<div class="actions">
	<input name="commit" type="submit" value="Guardar" onclick="return confirmPassword()" />
</div>

<script type="text/javascript">
	function confirmPassword() {
		var pass1 = document.all['user_password'].value;
		var pass2 = document.all['user_confirm_password'].value;
		if (pass1 == pass2) {
			return true;
		}
		else {
			alert('La contrase単a no coincide.');
			return false;
		}
	}
</script>
