<div class='control-group <%- locals.validate_errors && validate_errors.login 
		? "error" : "" %>'>
	<% if (!user.id) { %>
		<label class="control-label" for="user_login">Login:</label>
		<div class="controls">
			<input type="text" id="user_login" name="user[login]" class="input-xxlarge"
			placeholder="Login para acceder al blog" placeholder="<%= user.login %>" />
		</div>
	<% } else { %>
		Login: <%= user.login %>
	<% } %> 
</div>

<div class='control-group <%- locals.validate_errors && validate_errors.name 
		? "error" : "" %>'>
	<label class="control-label" for="user_name">Nombre:</label>
	<div class="controls">
		<input type="text" id="user_name" name="user[name]"
		class="input-xxlarge" placeholder="Nombre y apellidos" value="<%= user.name %>" />
	</div>
</div>

<div class='control-group <%- locals.validate_errors && validate_errors.email 
		? "error" : "" %>'>
	<label class="control-label" for="user_email">E-mail:</label>
	<div class="controls">
		<div class="input-prepend">
			<span class="add-on"><i class="icon-envelope"></i></span>
			<input type="text" id="user_email" name="user[email]" class="input-xxlarge" 
			placeholder="Dirección de correo electrónico" value="<%= user.email %>" />
		</div>
	</div>
</div>

<!-- Contraseña -->
<div class='control-group <%- locals.password && password=="empty" 
		? "error" : "" %>'>
	<label class="control-label" for="user_password">Contraseña:</label>
	<div class="controls">
		<input  type="password" id="user_password" name="user[password]" 
		class="input-xxlarge" placeholder="Recomendable: 8 caracteres" />
	</div>
</div>

<div class='control-group <%- locals.password && (password=="empty" || password=="mismatch") 
		? "error" : "" %>'>
	<label class="control-label" for="user_confirm_password">Confirmar contraseña:</label>
	<div class="controls">
		<input  type="password" id="user_confirm_password" name="user[confirm_password]" 
		class="input-xxlarge" placeholder="Confirmar la contraseña" />
	</div>
</div>

<button type="submit" class="btn btn-success"/><i class="icon-lock icon-white"></i> Guardar</button>
<button type="reset" class="btn btn-primary"/><i class="icon-file icon-white"></i> Borrar Campos</button>
