
  <div class='<%- locals.validate_errors && validate_errors.login 
                  ? "invalid_field" : "field" %>'>

     <% if ( ! user.id) { %>
        <h3 >Login</h3><br />
        <input type="text" id="user_login" name="user[login]" size="30" value='<%= user.login%>' />
     <% } else { %>
        Login: <%= user.login %>
     <% } %>
  </div>


  <div class='<%- locals.validate_errors && validate_errors.name 
                  ? "invalid_field" : "field" %>'>

    <h3 for="user_name">Nombre</h3><br />
    <input type="text" id="user_name" name="user[name]" size="30" value='<%= user.name%>' />
  </div>


  <div class='<%- locals.validate_errors && validate_errors.email 
                  ? "invalid_field" : "field" %>'>

    <h3 >Email</h3><br />
    <input type="text" id="user_email" name="user[email]" size="30" value='<%= user.email %>' />
  </div>

    <p><input name="commit" class="submit" type="submit" value="Salvar" /></p>
