<div class='<%- locals.validate_errors && validate_errors.title 
		? "invalid_field" : "field" %>'>
	<label for="user_login">Login:</label>
	<br />
	<input type="text" id="user_login" name="user[login]"
		size="30" placeholder="<%= user.login %>" />
</div>

<div class='<%- locals.validate_errors && validate_errors.title 
		? "invalid_field" : "field" %>'>
	<label for="user_name">Nombre:</label>
	<br />
	<input type="text" id="user_name" name="user[name]"
		size="30" placeholder="<%= user.name %>" />
</div>

<div class='<%- locals.validate_errors && validate_errors.title 
		? "invalid_field" : "field" %>'>
	<label for="user_email">E-mail:</label>
	<br />
	<input type="text" id="user_email" name="user[email]"
		size="30" placeholder="<%= user.email %>" />
</div>

<!-- Contrase単a -->
<div class="field">
	<label for="user_password">Contrase単a:</label>
	<br />
	<input  type="password" id="user_password" name="user[password]" 
		size="30" placeholder="Recomendable: 8 caracteres" />
<div>
<div class="field">
	<label for="user_confirm_password">Confirmar contrase単a:</label>
	<br />
	<input  type="password" id="user_confirm_password" name="user[confirm_password]" 
		size="30" placeholder="Confirmar la contrase単a" />
<div>

<div class="actions">
	<input name="commit" type="submit" value="Guardar"/>
</div>
