<<<<<<< HEAD
<div class="field">
  <label for="post_title">Titulo</label><br />
  <input type="text" id="post_title" name="post[title]" size='80' value='<%= post.title%>' />
</div>

<div class="field">
  <label for="post_body">Contenido</label><br />
  <textarea id="post_body" name="post[body]" rows="20" cols="80"><%= post.body %></textarea>
</div>

<div class="actions">
  <input name="commit" type="submit" value="Salvar" />
</div>
=======

  <div class='control-group <%- locals.validate_errors && validate_errors.title 
                                ? "error" : "" %>'>

    <label class='control-label' for="post_title">Título:</label>
    
    <div class='controls'>
      <input type="text" id="post_title" name="post[title]" 
             class='input-xlarge' size='80' 
             placeholder='Introduzca el contenido del post'
             value='<%= post.title%>' />
      <p class='help-block'>Introduzca el título del post</p> 
    </div>
  </div>


  <div class='control-group <%- locals.validate_errors && validate_errors.body 
                                ? "error" : "" %>'>

    <label class='control-label' for="post_body">Contenido:</label>

    <div class='controls'>
      <textarea id="post_body" name="post[body]" 
                placeholder='Introduzca el contenido del post' rows="20" cols="80"><%= post.body %></textarea>
      <p class='help-block'>Introduzca el contenido del post</p> 
    </div>
  </div>

  <button type='submit' class='btn btn-success'>Salvar</button>
  <button type='reset' class='btn'>Limpiar</button>

>>>>>>> 499058b2bc58b318034727a823a52e888f6690b8
