<header>
  <h2> POSTS </h2>
</header>

<% for (var i in posts) { %>
  <article>
  <hr/>
     <header>
        <h3>
          <a href='/posts/<%= posts[i].id %>' class='titlelink'> <%= posts[i].title %> </a>
        </h3>
     </header>
     
     <div>
       <p>
          <%= posts[i].body.slice(0,300) %> ... 
       </p>
     </div>

     <footer>
        <form method='post' action='/posts/<%= posts[i].id %>'>
          <input type='hidden' name='_method' value='delete'>
          <a class ="boton" href="/posts/<%= posts[i].id %>/edit"> Editar </a> 
          <a class="boton" href="" onclick="submit();return false"> Borrar </a>  
        </form>
     </footer>
  </article>

<%  }; %>
<hr/>
<footer>
  <nav>
    <a class="boton" href="/posts/new"> Crear nuevo Post </a>
  </nav>
</footer>
