<div class="post">
	<div class="page-header">
		<h1>
			<% if (session.user) { %>
				<form method="post" class="form-horizontal"
				action="/users/<%= session.user.id %>/favourites/<%= post.id %>" >
					<input type="hidden" name="_method" value="put">
					<% if (favourite == false) { %>
						<button type="submit" class="btn btn-inverse pull-right">
							<i class="icon-star icon-white"></i>
						</button>
					<% } else { %>
						<button type="submit" class="btn btn-warning pull-right">
							<i class="icon-star"></i>
						</button>
					<% } %>	
				</form>
			<% } %>
			<%= post.title %>
			<small>por <em><%= post.author && post.author.name || 'Anónimo' %></em></small>
		</h1>
		<em><%= post.updatedAt.toLocaleDateString() %></em>
	</div>
	<p><%- escapeText(post.body) %></p>
	<% if ((session.user && session.user.id == post.authorId) || (session.user && session.user.login == 'root')) { %>
		<a class="btn btn-warning" href="/posts/<%= post.id %>/edit">
			<i class="icon-edit icon-white"></i> Editar</a>
	<% } %>
</div>
<hr />
<%- include ../attachments/index.ejs %>
<hr />
<%- include ../comments/index.ejs %>
<hr />
<% if (session.user) { %>
	<blockquote>
		<%- include ../comments/new.ejs %>
	</blockquote>
	<hr />
<% } %>
<a class="btn btn-warning" href="/posts"><i class="icon-arrow-left icon-white"></i> Volver</a>
