<link rel="stylesheet" type="text/css" href="../css/style.css" />
<script type="text/javascript" src="../js/modernizr-1.5.min.js"></script>

<p>
<h2><b><%- post.title %></b></h2>
by
<em><%= post.author && post.author.name || 'Sin autor' %> </em>
</p>
<p>
<%- post.updatedAt.toLocaleDateString() %>
</p>

<p align="justify"><%- escapeText(post.body) %></p>

<div class="post_actions">
<% if (session.user && session.user.id ==post.authorId) {%>
<a href="/posts/<%= post.id %>/edit"> Editar</a>

<% } %>
<a href="/posts"> Volver al índice de Posts </a>

</div>
<br/>
<hr/>

<%- include ../comments/index.ejs %>
<hr/>

<% if(session.user) { %>

		<%- include ../comments/new.ejs %>
	<hr/>
<% } %>

